<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Multiple Videos</title>
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
</head>
<body>
    <h1>Multiple Videos</h1>
    
    <div id="video-list" class="sortable-list">
        {% for video_path in video_paths %}
        <div class="sortable-item">
            <video id="video" controls autoplay loop width="480" height="320">
                <source src="/uploads{{ video_path }}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
        {% endfor %}
    </div>
    <div>
        <a href="/clear_session">ホーム</a>
    </div>
    <script src="{{ url_for('static', filename='js/video_control.js') }}"></script>
</body>
</html>